/* Styles for the external CSS file */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: palevioletred;
}

h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: aliceblue;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
}

p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}